* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 20rem;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 120rem;
    padding: 0 1rem;
    margin: 0 auto;
    background-color: #b8cef9;
}

label:hover {
    cursor: pointer;
}

.line {
    display: block;
    content: '';
    width: 100%;
    height: .2rem;
    background-color: #0c85b5;
}

.container_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
}


.container_open_icon {
    overflow: hidden;
    opacity: 0;
    transition: all linear .2s;
}

.icon {
    width: 1.8rem;
}


main {
    color: #0c85b5;
}

main:hover {
    color:black;

}

main:hover .container_open_icon {
    opacity: 1;
}


.container_image {
    display: flex;
    justify-content: center;
    
}

.container_img {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: all linear .2s;
    margin-bottom: 1.25rem;
}

.container:hover .container_img {
    opacity: 1;
    width: 18rem;
    overflow: visible;
}

.container:hover .container_open_icon {
    rotate: 45deg;
}

.button_cover {
    display: none;
}

.button_cover:checked+.container_img {
    opacity: 1;
    width: 18rem;
    overflow: visible;
}

.button_cover:checked+.container_open_icon {
    rotate: 45deg;
}

@media (min-width: 820px) {

    .title_header {
        font-size: 2.4rem;
    }
    .container_title {
        font-size: 1.2rem;
    }

    .container:hover .container_img {
        width: 24rem;
    }

    .button_cover:checked+.container_img {
        width: 24rem;
    }

    .icon {
        width: 3rem;
    }
}

@media (min-width: 1280px) {
    .container:hover .container_img {
        width: 32rem;
    }

    .button_cover:checked+.container_img {
        width: 32rem;
    }
}